@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img {
  width: 2em;
  padding: 0.5em 0.1em;
}
h2 {
  padding-left: 1em;
  font-family: 'Roboto', sans-serif;
}
svg {
  color: gold;
}
span {
  color: white;
}