.shot-chart text {
  display: none;
}

.shot-chart g rect {
  display: none;
}

.shot-chart g:hover circle {
  r: 5.5;
}
.shot-chart g:hover text { 
  display: block;
}
.shot-chart g:hover rect { display: block;}
