

.shot-chart .tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}

.shot-chart .tooltip rect {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}


.shot-chart .tooltip:hover circle {
  r: 5.5;
}
.shot-chart .tooltip:hover .tooltiptext {
  visibility: visible;
}
.shot-chart .tooltip:hover rect { display: block;}
